div{
    background: linear-gradient(to right, #1181c7, #7c40a1);
}
a{
    color: rgb(23, 228, 12);
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nav3{
    color: rgb(217, 223, 46);

}
#nav3:hover{
    color: rgb(102, 214, 83);
}
#nav2{
    color:#e1cd37;
}
#nav2:hover{
    color: rgb(102, 214, 83);
}
#nav3{
    color:#e1cd37;
}
#nav3:hover{
    color: rgb(102, 214, 83);
}

