.nav {
  background: transparent;
  color: blue;
  padding: 12px 0;
  height: 70px;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #fff176;
}
#nav1{
    color: rgb(76, 58, 218);
    background-color:rgb(182, 221, 115);
    font-weight: 900;
    
}
#nav1:hover{
    color:rgb(182, 221, 115);
    background-color:rgb(76, 58, 218);
}